/* header__subnav */
.header__buttom--buttom-btn:hover .header__subnav {
  display: flex;
}
.header__subnav {
  width: 1200px;
  height: auto;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
  display: none;
}
.header__subnav.brand {
  width: 650px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  display: none;
}
.header__subnav::after {
  content: "";
  border-width: 24px 24px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -32px;
  left: 15px;
}
.header__subnav--list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}
.header__subnav-item {
  width: calc((100% - 12px) / 4);
  list-style: none;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__subnav-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2rem;
}
.header__subnav-title::after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  background: #ed1b24;
  margin: 5px 0;
}
.header__subnav-link {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.45);
  display: block;
  padding: 10px 0;
  text-decoration: none;
}
.header__subnav-link i {
  color: #222;
  margin-right: 6px;
}
.header__subnav-link:hover {
  color: #ed1b24;
}
.header__subnav-link:hover i {
  color: #ed1b24;
}
.header__subnav-link img {
  max-width: 100%;
}
.header__subnav-header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
  padding-bottom: 8px;
}
.header__subnav-header h4 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: #222;
  text-transform: uppercase;
}
.header__subnav-brand-link {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
  color: #222;
  text-decoration: none;
}
/* end header__subnav */