/* start header */
.header {
  background: var(--primary-color);
}
/* start header TOP*/
.header__top {
  display: flex;
  align-items: center;
  padding: 5px 0;
  position: relative;
}
.header__top--nav:hover .header__modal {
  display: block;
}
.header__top--nav:hover::before {
  display: block;
}
/* .header__top--nav:hover .header__overlay {
  display: block;
} */
.header__top--item {
  display: block;
  padding: 7px 10px;
  margin-left: 15px;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--text-white);
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
.header__top--item-icon {
  min-width: 18px;
}
.header__top--nav:first-child .header__top--item {
  /* font-size: 1.2em; */
  text-transform: uppercase;
}
.header__top--item:first-child .header__top--item-icon {
  font-size: 1.4rem;
}
/* start header__modal */
.header__modal {
  position: absolute;
  top: 90%;
  left: 80px;
  right: 80px;
  background-color: var(--text-white);
  border-radius: 5px;
  display: none;
  z-index: 999;
}
.header__modal-wrapper {
  padding: 16px;
}
.header__modal-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
.header__modal-title-item {
  display: block;
  width: calc((100% - 12px) / 3);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-black);
  background-color: rgb(234, 234, 234);
  padding: 8px 0;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;
}
.header__modal-active {
  color: var(--text-white);
  background-color: rgb(237, 27, 36);
}
.header__modal-hours {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-black);
  border-radius: 20px;
  text-align: center;
  margin: 24px;
}
.header__modal-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__modal-item {
  width: calc(100% / 3);
  margin-top: 24px;
}
.header__modal-hours span {
  padding: 8px;
  border: 2px solid var(--primary-btn);
  border-radius: 20px;
}
.header__modal-item-title {
  font-size: 1.4rem;
  color: var(--text-black);
  font-weight: 700;
}
.header__modal-item-content {
  font-size: 1.2rem;
  color: var(--text-black);
  list-style: none;
  margin-bottom: 24px;
}
.header__modal-pane {
  display: none;
}
.modal-pane-active {
  display: block;
}
.header__modal-item-content-list {
  margin: 6px 0;
}
.text__red {
  color: var(--primary-btn);
}
.text__blue {
  color: #0573ff;
}
.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

/* end header__modal */
/* end header TOP*/
/* start header Buttom*/
.header__buttom--top {
  display: flex;
  align-items: center;
}
.header__buttom--top-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__buttom--top-nav-build {
  display: flex;
  margin-right: 22px;
}
.header__buttom--top-nav-hostsing {
  display: flex;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative;
}
.header__buttom--top-nav-build-list {
  display: block;
  padding: 3px 10px;
  font-size: 1.2rem;
  line-height: 2.8rem;
  background-color: #ed1b24;
  color: var(--text-white);
  text-decoration: none;
  margin-right: 10px;
  border-radius: 3px;
}
.header__buttom--top-nav-build-list:hover {
  color: white;
}
.header__buttom--top-nav-build-list-icon {
  min-width: 16px;
}
.header__buttom--top-nav-hostsing-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
  padding: 0 12px;
  position: relative;
}
.header__buttom--top-nav-hostsing-item:last-child {
  position: relative;
}
.header__buttom--top-nav-hostsing-icon {
  font-size: 1.8rem;
  color: var(--primary-color);
  background-color: var(--text-white);
  padding: 10px 12px;
  border-radius: 50%;
  margin-right: 10px;
}
.header__buttom--top-nav-hostsing-icon.phone__icon {
  position: absolute;
  top: 25%;
  left: -16px;
}
.header__buttom--top-nav-hostsing-content {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding-right: 10px;
  font-size: 1.2rem;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.header__buttom--top-nav-hostsing-content .phone__number {
  font-size: 1.8rem;
  font-weight: 700;
}
.header__buttom--top-nav-hostsing-content:hover .use__submenu {
  display: block;
}
/* submenu user */
.use__submenu {
  padding: 16px;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 6px);
  left: -50%;
  border-radius: 5px;
  display: none;
  z-index: 999;
  min-width: 265px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.use__submenu::after {
  content: "";
  border-width: 24px 24px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}
.use__submenu--list-link {
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
  display: block;
  background-color: #fdd835;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.use__submenu--list-link span {
  display: block;
  padding: 6px 8px;
  font-size: 12px;
}
.use__submenu--list-link.social span {
  display: block;
  padding: 8px 24px 8px 8px;
}
.use__submenu--list-link.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.use__submenu--list-link.gg {
  background-color: rgb(223, 74, 50);
}
.use__submenu--list-link.fb {
  background: #3b5998;
}
.use__submenu--list-link.zl {
  background: #0462d9;
}
.use__submenu--list-link i {
  font-size: 1.6rem;
  padding: 12px 14px;
}
.use__submenu--list-link.gg i {
  background-color: #be3f2b;
}
.use__submenu--list-link.fb i {
  background: #324c81;
}
.use__submenu--list-link.zl i {
  background: #0573ff;
  padding: 12px 13px;
}
/* end submenu user */
.header__buttom--top-nav-hostsing-item .cart__price {
  display: block;
  width: 15px;
  height: 15px;
  font-size: 0.9rem;
  line-height: 1.6rem;
  text-align: center;
  background-color: rgb(247, 141, 28);
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 25%);
  position: absolute;
  top: 12px;
  left: 30%;
  color: white;
}
.header__buttom--top-nav-hostsing-item:first-child
  .header__buttom--top-nav-hostsing-content {
  margin-left: 22px;
}
.header__buttom--top-nav-hostsing-item:last-child
  .header__buttom--top-nav-hostsing-content {
  border: none;
}
.header__buttom--buttom {
  padding: 10px 0;
}
.header__buttom--buttom-item {
  display: flex;
}
.header__buttom--buttom-btn {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 5px 8px;
  background-color: var(--btn-color);
  margin-right: 1px;
  position: relative;
}
.header__buttom--buttom-btn-icon {
  margin-left: 5px;
}
.header__buttom--buttom-btn:hover {
  background-color: #feb13a;
}
.header__buttom--buttom-btn-link {
  font-size: 1.3rem;
  color: var(--text-black);
  text-transform: uppercase;
  text-decoration: none;
}
.header__search {
  flex: 1;
  background-color: var(--text-white);
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 6px;
}
.header__search--input {
  flex: 1;
  font-size: 1.2rem;
  font-weight: 200;
  border: none;
  outline: none;
  padding-left: 6px;
}
.header__search--btn {
  font-size: 1.8rem;
  color: var(--primary-color);
  background-color: var(--btn-color);
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}
.header__sep {
  display: flex;
  justify-content: flex-end;
}
.header__sep--item {
  display: block;
  padding: 6px 12px;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--text-white);
  background-color: rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  border-radius: 2px;
}
.header__sep--item-icon {
  min-width: 16px;
}
.header__sep--item:last-child {
  margin: unset;
}
/* end header */