* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #243a76;
  --btn-color: #f78d1c;
  --text-white: #fff;
  --text-black: #222;
  --primary-btn: #ed1b24;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
}
/* main */
@keyframes gradient {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: -33% 100%;
  }
}
.btn-primary {
  background: repeating-linear-gradient(90deg, red 0, #00f 50%, red 100%);
  background-repeat: repeat-x;
  background-size: 400% auto;
  background-position: 0 0;
  animation: gradient 2s linear infinite;
  cursor: pointer;
}
/* main */

/* Swiper Change Next And Prev Button Style */
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 4px !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 20px !important;
  font-weight: 1000 !important;
  color: black !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 4px !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: 1000 !important;
  color: black !important;
}
/* Swiper Change Next And Prev Button Style */
